body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
  overflow-x: hidden;
  position: relative;
}

.container {
  width: 100%;
}

/* Typography */

hr {
  width: 100%;
  background: #efefef;
}

p {
  font-size: 13px;
  color: #4c4c4c;
  line-height: 24px;
}

.little-text {
  color: #989898;
  font-weight: 400;
  line-height: 18px;
}

blockquote {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

/* Margins & Paddings */

.padding_15 {
  padding-top: 15px;
}

.padbot_30 {
  padding-bottom: 30px;
}

